# Ignorar directorios de Android Studio y configuraciones del proyecto
.idea/
.gradle/
build/
local.properties
*.iml
.DS_Store # Para usuarios de macOS

# Archivos de depuración y logs
*.log
captures/
.externalNativeBuild/

# Directorio de los SDKs de Android
.cxx/
platform_build/

# Archivos generados por Android Studio/Gradle
**/.idea/
**/build/
**/.gradle/
